@font-face {
  font-family: "other"; /* Project id 4636649 */
  src: url("iconfont.woff2?t=1724401888175") format("woff2"),
    url("iconfont.woff?t=1724401888175") format("woff"),
    url("iconfont.ttf?t=1724401888175") format("truetype");
}

.other {
  font-family: "other" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard-hide:before {
  content: "\e811";
}

.icon-delete:before {
  content: "\e66a";
}

.icon-loading:before {
  content: "\e73c";
}

.icon-sun:before {
  content: "\e624";
}

.icon-moon:before {
  content: "\e62c";
}
